li {
    display: inline;
}

h1 {
    text-align: center;
}

a:link {
    color: aliceblue;
}

a:visited {
    color: aliceblue;
}

body {
    background-image: url(THB-Killers.jpg);
    color: aliceblue;
}

p {
    text-align: center;
}

.view {
    color: aquamarine
}

#gost {
    color: aqua
}

.container {
    margin-top: 20px
}