li {
    display: inline;
}

a:link {
    color: aliceblue;
}

a:visited {
    color: aliceblue;
}

body {
    background-image: url("super-2.jpg")
}

h1 {
    color: aliceblue;
    text-align: center;
}

p {
    color: cornflowerblue;
    text-align: center;
}

.left {
    color: aliceblue;
    text-align: left;
}